#sideModule {
	background: white;
  box-shadow: 0 2px 5px 0 rgba(3,26,102,0.05), 0 0 10px 0 rgba(3,26,102,0.05);
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  height: 543px;
  width: 300px;
  font-family: Lato;
  font-size: 12px;
  line-height: 18px;
}